.container {
  width: 5rem;
  padding: 0.25rem;
  background-color: var(--light-gray-color);
  border-radius: 0.25rem;

  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: space-between;
  align-items: center;

  margin: 0.5rem;
}

.score {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--moderate-blue-color);
}

.button {
  position: relative;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
}

.button:hover,
.button:active {
  cursor: pointer;
}

.button:disabled {
  cursor: default;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--light-grayish-blue-color);
  stroke: var(--light-grayish-blue-color);
}

.icon:hover,
.icon:active {
  fill: var(--moderate-blue-color);
  stroke: var(--moderate-blue-color);
}

.icon.iconDisabled {
  fill: grey;
  stroke: grey;
}

/* media query for desktop */
@media (min-width: 768px) {
  .container {
    width: 2rem;
    height: 5rem;
    flex-direction: column;
  }
}
