.card {
  margin-bottom: 1rem;
}
.commentContainer {
  display: grid;
  align-items: center;

  /* debugging only */
  /* border: solid thin black; */
}

.userInfo {
  grid-row: 1;
  grid-column: 1;

  margin: 0.5rem;
}

.createdAt {
  grid-row: 1;
  grid-column: 2;

  margin: 0.5rem;
}

.replyName {
  font-weight: 500;
  color: var(--moderate-blue-color);
}

.editingForm {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.textArea {
  width: 100%;
}

.button {
  align-self: flex-end;
}

.content {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;

  margin: 0.5rem;
}

.vote {
  grid-row: 3;
  grid-column: 1;
}

.actions {
  grid-row: 3;
  grid-column: 2;
  justify-self: end;

  margin: 0.5rem;
}
