.commentContainer {
  display: grid;
}

.userInfo {
  grid-row: 1;
  grid-column: 1;
}

.createdAt {
  grid-row: 1;
  grid-column: 2;
}

.content {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.vote {
  grid-row: 3;
  grid-column: 1;
}

.actions {
  grid-row: 3;
  grid-column: 2;
}
