.container {
  width: 5rem;
  padding: 0.25rem;
  background-color: var(--light-gray-color);
  border-radius: 0.25rem;

  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: space-between;
  align-items: center;

  margin: 0.5rem;
}

.count {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--moderate-blue-color);
}

.button {
  position: relative;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
}

.button:hover,
.button:active {
  cursor: pointer;
}

.iconPlus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--light-grayish-blue-color);
  stroke: var(--light-grayish-blue-color);
}

.iconPlus:hover,
.iconPlus:active {
  fill: var(--moderate-blue-color);
  stroke: var(--moderate-blue-color);
}

.iconMinus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--light-grayish-blue-color);
  stroke: var(--light-grayish-blue-color);
}

.iconMinus:hover,
.iconMinus:active {
  fill: var(--moderate-blue-color);
  stroke: var(--moderate-blue-color);
}
