.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.button {
  border: none;
  background-color: transparent;
  color: var(--moderate-blue-color);
  font: inherit;
  font-weight: 500;
  font-size: 0.8rem;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.buttonDelete {
  color: var(--soft-red-color);
}
