.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: var(--dark-blue-color);
  overflow: hidden;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  z-index: 100;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
  padding: 1rem;
}

.heading {
  font-weight: 500;
  font-size: 1.5rem;
}

.text {
  font-weight: 400;
  font-size: 1rem;
}

.buttonContainer {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.button.buttonNo {
  background-color: var(--grayish-blue-color);
}

.button.buttonYes {
  background-color: var(--soft-red-color);
}
