.card {
  margin-bottom: 1rem;
}

.container {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  row-gap: 1rem;
  align-items: center;
}

.textarea {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 6rem;
}

.avatar {
  grid-row: 2;
  grid-column: 1;
}

.button {
  grid-row: 2;
  grid-column: 2;
  justify-self: flex-end;
}
